@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Ligth;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

$white: rgb(255,255,255);
$black: rgb(0,0,0);
$blackOpacity: rgba(0,0,0, 0.8);
$blueOpacity: rgba(35, 172, 172, 0.8);
$blue: rgba(35, 172, 172, 0.8);
$blueDark: #229292;
$grayLigth: #ababab;
$gray: #656a6c;
$grayDark: #242b2e;
$grayRegular: #31383c;
$almostBlack: #272727;
$shadowColor: #333;

$imageListSite: 1620px;

$hoverOpacity: 0.7;
