@import './fontsAndVariables.scss';

.link{
    margin-bottom: 10px;
    cursor: pointer;

    .link-title{
        text-align: right;
        font-family: Roboto-Ligth;
        font-size: 15px;      
    }

    .link-not-selected{
        color: $gray;       
    }

    .link-selected{
        color: $white;   
    }

    &:hover{
        .link-not-selected{
            color: $white;
        }

        .link-selected{
            opacity: $hoverOpacity;   
        }
    }
}